@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  --title-font: "Urbanist", Helvetica, Arial, sans-serif;
  --body-font: "Roboto Slab", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  min-width: 100%;
}

.wrappeer {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  background-image: url(images/background-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

header {
  position: fixed;
  top: 0;
  background: rgba(233, 233, 233, 0.8);
  right: 0;
  left: 0;
  z-index: 100;
}
header .header-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav li {
  list-style: none;
}
header nav .download-cv {
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
}
header nav .fa-download:hover {
  color: red;
}
header nav a {
  color: black;
  text-decoration: none;
  padding: 0 15px 0 15px;
  font-weight: 500;
}

.side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
  left: 2%;
}
.side-menu .icon {
  display: flex;
  flex-direction: column;
}
.side-menu .icon a {
  font-size: 18px;
  color: black;
}
.side-menu .fa-linkedin:hover {
  color: blue;
}
.side-menu .fa-twitter:hover {
  color: rgb(51, 51, 238);
}
.side-menu .fa-instagram:hover {
  color: red;
}
.side-menu .follow {
  rotate: 270deg;
  margin: 60px 0px 0px -50px;
}
.side-menu .follow p {
  letter-spacing: 6px;
}

main .section-1 .my-content {
  position: relative;
  top: 70px;
  left: 2%;
}
main .section-1 .my-content h6 {
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
main .section-1 .my-content h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
}
main .section-1 .my-content a {
  text-decoration: none;
  color: black;
}
main .section-1 .my-content .download {
  margin-top: 50px;
}
main .section-1 .my-content .download .download-cv {
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
}
main .section-1 .my-image {
  position: relative;
  top: 4px;
  left: 29px;
}
main .section-2 .bio p {
  line-height: 2;
}
main .section-2 .quote .fa-quote-left {
  font-size: 50px;
}
main .section-2 .quote .fa-quote-right {
  font-size: 50px;
}
main .section-3 .headingg {
  font-weight: 800;
  margin-bottom: 50px;
}
main .section-4 .sno {
  min-height: 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
main .section-4 .index-no {
  height: 50px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  width: 8%;
  justify-content: center;
}
main .section-4 .experiences {
  margin-left: 25px;
  font-weight: 400;
  font-size: 14px;
}
main .section-4 .experience-body {
  border-left: 1px solid;
  padding: 22px;
  margin-left: 20px;
}
main .section-5 .post-card {
  width: 32%;
  margin: 0 1% 0 0;
}
main .section-5 .post-card .post-image {
  overflow: hidden;
}
main .section-5 .post-card .post-image img {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 225px;
}
main .section-5 .post-card .post-image img:hover {
  cursor: pointer;
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.2);
  transition: all 1s;
}
main .section-5 .post-card .post-card-title a {
  text-decoration: none;
}
main .section-5 .post-card .post-card-title a h5 {
  color: black;
}
main .section-5 .post-card .post-card-title p {
  color: rgb(64, 64, 64);
}
main .section-5 .post-card .post-card-model img {
  height: 225px;
}
main .section-5 .post-card .post-card-model .blog-para {
  height: 190px;
  overflow-y: scroll;
}
main .section-6 .input-field {
  background: transparent;
  padding: 5px;
  min-width: 60%;
  border: 1px solid black;
}
main .section-6 .input-field :hover {
  background: rgd(207, 31, 31);
}
main .section-6 textarea {
  background: transparent;
  padding: 5px 0 0 5px;
}
main .section-6 .form-button button {
  background: black;
  color: white;
  padding: 5px 60px 5px 60px;
}
main .section-6 .form-button button:hover {
  cursor: pointer;
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper .card {
  background: #fff;
  width: calc(25% - 8px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper .card .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}

.card .circle .box,
.card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle .box {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}

.card .circle:hover .box {
  transform: translate(-50%, -50%) scale(0.91);
}

.card .circle .box span,
.wrapper .card .text {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle .box span {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}

.card .circle:hover .box span {
  transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1169px) {
  header nav a {
    padding: 0 20px 0 1px;
  }
  header nav .download-cv {
    margin-right: 13px;
  }
  .heading {
    margin-left: 13px;
  }
}/*# sourceMappingURL=style.css.map */